* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
}

address {
  list-style-type: none;
}

.title {
  color: var(--color-brand-dark);
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}
