:root {
  --color-brand: #2b7fff;
  --color-brand-dark: #011c44;
  --color-secondary-text: #4a4a4a;
  --color-white: #ffffff;
  --color-text-form: #747272;
  --color-black: #000000;
  --color-vector: #c4c4c4;
  --color-gradient: linear-gradient(
    36deg,
    rgba(43, 127, 255, 0.2) 33.47%,
    rgba(43, 127, 255, 0) 63.46%,
    rgba(43, 127, 255, 0) 89.47%
  );
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
