.advantages-section {
  padding: 0;

  &__container {
    padding: 0;

    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
      gap: 28px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    color: var(--color-brand-dark);
    font-size: 22px;
    line-height: 1.1;
    padding: 0 20px;
    margin-bottom: auto;

    @media screen and (min-width: 768px) {
      max-width: 709px;
      align-items: start;
      gap: 40px;
      line-height: 1.7;
    }
  }

  &__title {
    font-size: 32px;
    text-align: start;
    margin-bottom: 24px;
    font-weight: 500;

    @media screen and (min-width: 768px) {
      font-family: "Play", sans-serif;
      font-size: 64px;
      font-weight: 700;
      margin: 0;
    }
  }

  &__text {
    text-align: left;
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 500;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      margin: 0;
    }
  }

  &__content-img {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 0;

    @media screen and (min-width: 1280px) {
      width: 100%;
    }
  }

  &__star-container {
    position: absolute;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0 auto;

    @media screen and (min-width: 1280px) {
      width: 100%;
      max-width: 595px;
      height: 100%;
    }
  }

  &__advantages-img {
    flex-shrink: 0;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px #a8c6f533;
  }

  &__img-before {
    display: none;

    @media screen and (min-width: 1280px) {
      display: flex;
      justify-content: start;
    }
  }

  &__img-after {
    display: none;

    @media screen and (min-width: 1280px) {
      display: flex;
      justify-content: end;
    }
  }
}
