.gradient-section {
  background-image: url("../img/gradient-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% top;
  width: 100%;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../img/gradient-section@2x.png");
  }

  @media screen and (min-width: 1280px) {
    background-position: center top;
  }
}
