.header {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  z-index: 1;

  @media screen and (min-width: 1280px) {
    background-color: #ffffff40;
    background: rgba(255, 255, 255, 0.25);
    // backdrop-filter: blur(5px);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 106px;
  }

  &__list {
    display: none;

    @media screen and (min-width: 1280px) {
      display: flex;
      list-style-type: none;
      justify-content: center;
      gap: 56px;
      flex-grow: 1;
      font-weight: 700;
    }
  }

  &__nav-link {
    color: var(--color-brand-dark);
    text-decoration: none;

    // &:hover {
    //   color: var(--color-brand);
    // }
  }

  &__address-icons {
    display: none;

    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
      gap: 38px;
    }
  }

  &__address-icon {
    fill: var(--color-black);
    transition: 0.2s linear;

    &:hover {
      fill: var(--color-white);
      transform: scale(1.3);
    }
  }

  &__burger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    fill: var(--color-white);

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}
