.modal {
  position: relative;
  width: 455px;
  height: 620px;
  border-radius: 48px;
  background-color: var(--color-brand-dark);
  color: var(--color-white);
  background-image: url(../img/fon-footer.png);
  padding: 42px 24px;

  @media screen and (min-width: 768px) {
    width: 720px;
    height: 680px;
    padding: 42px 144px;
  }

  .modal-btn-close {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      top: 42px;
      right: 42px;
    }
  }

  &__cross-icon {
    border-color: transparent;
    width: 32px;
    height: 32px;
  }

  &__title {
    font-family: "Play", sans-serif;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;

    @media screen and (min-width: 768px) {
      font-size: 64px;
      margin-bottom: 40px;
    }
  }

  &__text {
    text-align: center;
    font-size: 22px;
  }

  &__span {
    color: var(--color-brand);
  }
}

.modal-form {
  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
  }

  &__input {
    padding: 18px 33px;
    border-radius: 32px;
    border: 2px solid var(--color-text-form);
    width: 100%;
    background-color: transparent;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
    }

    &:focus {
      background-color: var(--color-text-form);
      outline: none;
      transition: background-color 0.2s linear;
    }

    &::placeholder {
      color: var(--color-white);
      font-size: 13px;
      line-height: 1.2;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 16px 32px;
    font-size: 18px;

    &:hover {
      color: var(--color-white);
    }
  }

  &__terms {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-text-form);
  }

  &__terms-link {
    color: var(--color-text-form);
    text-underline-offset: 1px;
  }
}
